<h1>New pin</h1>

<%= render 'form' %>

<%= # I don't like using "back" to mean "home" ... stylize it anyway
		# link_to 'Back', pins_path 
%>
<%= link_to content_tag(:i, "", class:"icon-chevron-left")+" Back", pins_path %>
