<% unless user_signed_in? %>
	<div class="hero-unit">
		<h1>paint the street NYC</h1>
		<p>
			Welcome. Check out some street art found throughout NYC. See the pins plotted on a map if you're signed in. 
		</p>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class:"btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>